<header class="header">
	<div class="container header__container">
		<a href="/" class="header__logo">
			<img src="img/logo.svg" alt="logo" class="header__logo-img">
		</a>
		<div class="header__contacts">
			<span data-replace="Ваш менеджер" class="header__contacts-title">Контактный телефон вашего менеджера</span>
			<a href="tel:+79953322878" class="header__contacts-content">
				<svg class="header__contacts-icon">
					<use xlink:href='img/icons/icons.svg#icon-tel'></use>
				</svg>
				+7 (995) 332-28-78
			</a>
			<span class="header__contacts-content header__contacts-content--name">Илья</span>
		</div>
	</div>
</header>