<section class="hero">
	<div class="container">
		<h1 class="title title-1 hero__title">Презентация верстки всех страниц веб-сайта</h1>
		<p class="hero__content">
			Верстка страниц вашего веб-сайта готова. Ниже мы предоставляем ссылки на каждую страницу,
			которые Вы можете открыть как с компьютера, так с планшета и телефона для проверки
			корректности отображения вашего будущего веб-сайта с различных устройств и разрешениях. <br />
			<br />
			Однако, функционала в данных страницах нет, он будет готов после насадки веб-сайта на систему
			управления. Мы уже приступаем за следующий этап.
		</p>
	</div>
	<div class="hero__links">
		<div class="container">
			<h2 class="title title-2 hero__links-title">Ссылки</h2>
			<ul class="list hero__list">
				<li class="hero__item">
					<a href="#" target="_blank" class="hero__btn">
						<div class="hero__btn-circle">
							<img src="img/home.svg" alt="icon" class="hero__btn-icon" />
						</div>
						<span>Главная страница</span>
						<svg class="hero__btn-arrow">
							<use xlink:href="img/icons/icons.svg#icon-arrow"></use>
						</svg>
					</a>
				</li>
				<li class="hero__item">
					<a href="#" target="_blank" class="hero__btn">
						<div class="hero__btn-circle">
							<img src="img/business.svg" alt="icon" class="hero__btn-icon" />
						</div>
						<span>О компании</span>
						<svg class="hero__btn-arrow">
							<use xlink:href="img/icons/icons.svg#icon-arrow"></use>
						</svg>
					</a>
				</li>
				<li class="hero__item">
					<a href="#" target="_blank" class="hero__btn">
						<div class="hero__btn-circle">
							<img src="img/albums.svg" alt="icon" class="hero__btn-icon" />
						</div>
						<span>Страница каталога</span>
						<svg class="hero__btn-arrow">
							<use xlink:href="img/icons/icons.svg#icon-arrow"></use>
						</svg>
					</a>
				</li>
				<li class="hero__item">
					<a href="#" target="_blank" class="hero__btn">
						<div class="hero__btn-circle">
							<img src="img/tel.svg" alt="icon" class="hero__btn-icon" />
						</div>
						<span>Контакты</span>
						<svg class="hero__btn-arrow">
							<use xlink:href="img/icons/icons.svg#icon-arrow"></use>
						</svg>
					</a>
				</li>
				<li class="hero__item">
					<a href="#" target="_blank" class="hero__btn">
						<div class="hero__btn-circle">
							<img src="img/reader.svg" alt="icon" class="hero__btn-icon" />
						</div>
						<span>Карточка товара</span>
						<svg class="hero__btn-arrow">
							<use xlink:href="img/icons/icons.svg#icon-arrow"></use>
						</svg>
					</a>
				</li>
				<li class="hero__item">
					<a href="#" target="_blank" class="hero__btn">
						<div class="hero__btn-circle">
							<img src="img/document-text.svg" alt="icon" class="hero__btn-icon" />
						</div>
						<span>Еще одна страница</span>
						<svg class="hero__btn-arrow">
							<use xlink:href="img/icons/icons.svg#icon-arrow"></use>
						</svg>
					</a>
				</li>
			</ul>
		</div>
	</div>
</section>